*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
ul{
    list-style: none;
    display:flex;
    gap: 80px;
    margin-right: 35%;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
img{
    border-radius: 50px;
    margin-left: 30px
}
#div1{
    width: 100%;
    height: 500px;
    background-color: brown;
}
#div2{
    width: 100%;
    height: 500px;
    background-color: rgb(44, 42, 165);
}
#div3{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 153, 0);
}
#div4{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 255, 132);
}
.imagcar{
    width: 400px;
    height: 300px;
    z-index: 1;
    position: relative;
}
.ptag{
    z-index: 2;
    position: relative;
    top:200px ;
    left:170px ;
    font-size: 20px ;
}