*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#div1{
    width: 100%;
    height: 500px;
    background-color: brown;
}
#div2{
    width: 100%;
    height: 500px;
    background-color: rgb(44, 42, 165);
}
#div3{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 153, 0);
}
#div4{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 255, 132);
}