body{
    
    
}
#p1{
    word-spacing: 16px;
    text-indent: 32px;
    background-color:blueviolet ;
}
pre{
    line-height: 32px;
}


/*unvisited link */
a:link{
    color: chocolate;
}
a:visited{
    color: cadetblue;
}
a:hover{
    background-color: blue;
    color: aliceblue;
}
a:active{
background-color: chartreuse;
}
input:focus{
color: rgb(0, 255, 0);
}
h1{
    display: block ;
    background-color: darkblue;
    color: aliceblue;
    height:25px;
    width: 75px;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border-radius: 20px;

}
input{
    margin: 20px 40px;
    border-radius: 20px;
    background-color:darkblue;
    color: rgb(255, 255, 255);
}
