#navbar{
    background-color:rgb(49, 159, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 10px;
}
#logo img{
    width: 90px;
    height: 100px;
    border-radius: 90px;
    margin-right: 150px; 
    /* margin-left: 100px; */

}
ul{
    display: flex;
    list-style: none;
    margin-right: 17%;
    gap: 80px;
    
}

ul a{
    background-color:white;
    color:rgba(49, 159,167, );
    /* border: 1px solid rgb(255, 255, 255) ; */
    border-color: rgb(49, 159, 167); 
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    background-color:rgb(49, 159, 167) ;
    color: white;
}
a button{
    /* border: 20px solid black; */
    height: 60px;
    width: 140px;
    border-radius:20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: white;
    
}
button:hover{
    background-color: rgb(49, 159, 167);
    color: rgb(255, 255, 255);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{

    background-color: gray ;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 550px;
    text-align: center;
    padding-top: 40px;
    
}
section h1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


