header{
    text-align: center;
}
table{
    border-collapse:collapse ;
    border: 1px solid black; 
    width: 50%;
    margin: auto;
}

td,th{
    border:4px solid black; 
    padding: 10px;
    text-align: center;
}
thead{
    background-color: cadetblue;
    
}
tbody tr{
    height: 50px;
}