header{
    background-color: darkblue;
    color: white;
    font-size: 25px;
    font-family: cursive;
    margin: 10px;
}
.griditem{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    margin-left: 130px;   
    
}
.just{
    text-align: center;
    border: 15px solid rgb(0, 0, 168);
    margin-right: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.yar{
    text-align: center;
    border: 15px solid green;
    margin-right: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.jo{
    text-align: center;
    border: 15px solid green;
    margin-right: 70px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.just button{
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 168) ;
    border-radius: 100px; 
    border-color: rgb(0, 0, 168);
    margin-bottom: 5px;
}
.just button:hover{
    background-color: rgb(0, 0, 168);
    color: white;
}
.yar button{
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 128, 0) ;
    border-radius: 100px; 
    border-color: rgb(0, 128, 0);
    margin-bottom: 5px;
}
.yar button:hover{
    background-color: rgb(0, 128, 0);
    color: white;
}
.jo button{
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 128, 0) ;
    border-radius: 100px; 
    border-color: rgb(0, 128, 0);
    margin-bottom: 5px;
}
.jo button:hover{
    background-color: rgb(0, 128, 0);
    color: white;
}